body {
  position: relative;
  background: #30384b;
  color: #eee;
  margin: 1rem;
  padding-bottom: 1rem;
}

.container {
  padding-top: 1rem;
  max-width: 340px;
  margin: 0 auto;
}

.timer-container {
  position: relative;
}

.nav {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 1rem 1rem;
  display: flex;
  gap: 1rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  transition: all 2s ease;
  margin-top: 1rem;
  max-width: 340px;
  justify-content: center;
  margin-bottom: 1rem;
}

.nav:hover {
  background: #ffcc00;
}

.btn {
  color: white;
  display: flex;
  padding: 1rem 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 2s ease;
  background: transparent;
  justify-content: center;
  align-items: center;
}

.btn-cog {
  color: white;
  display: flex;
  padding: 1rem 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 2s ease;
  background: transparent;
  justify-content: center;
  align-items: center;
}

.btn:hover,
.btn-cog:hover {
  background: #009b4d;
  border-color: transparent;
  transform: rotate(2turn);
}

.cog-button,
.pomodoro-button,
.pause-button,
.back-button,
.save-button {
  color: white;
  display: flex;
  padding: 1rem 1rem;
  cursor: pointer;
  transition: all 2s ease;
  background: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.pomodoro-button:hover {
  color: #f54e4e;
}

.popup-container-full {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 3rem;
}

.popup-container {
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.popup-content > h3 {
  margin: 0 auto;
  margin-bottom: 1rem;
}

.popup {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  transition: all 2s ease;
  margin-top: 1rem;
  max-width: 250px;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.popup-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-input > input {
  align-self: center;
  font-family: "Poppins", sans-serif;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  text-align: center;
}

.popup-input > button {
  margin: 1rem;
  align-self: center;
}

.popup-message > p {
  margin: 0 auto;
}

.input-button {
  color: white;
  display: flex;
  padding: 1rem 1rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 2s ease;
  background: transparent;
  justify-content: center;
  align-items: center;
}

.save-input-button {
  color: white;
  display: flex;
  padding: 1rem 1rem;
  cursor: pointer;
  transition: all 2s ease;
  background: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.input-button:hover {
  background: #009b4d;
  border-color: transparent;
  transform: rotate(2turn);
}

.pomodoro-instructions > ul {
  list-style-type: disc;
  color: #ffffff;
}

.footer {
  margin: 0.5rem 0.5rem;
}

.footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer__socials > a {
  font-size: 20px;
  color: #eee;
}
